* {
    box-sizing: border-box;
    margin: 0 4px;
    padding: 0;
    font-family: Helvetica;
}
.header-container {
    display: flex;
    flex-direction: row;
    background-image: url("../img/pattern.jpg");
    width: 100vw;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: center;
}
.title {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-top: 15px;
    margin-bottom: 15px;
}
.brush-title {
    background-color: mediumspringgreen;
}
.frame-title {
    background-color: lightcoral;
}
.paint-title {
    background-color: skyblue;
}
strong {
    color: blue;
}
h2 {
    color: white;
    font-weight: bold;
    font-size: 32px;
}
h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}